@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


#footer{
    position: relative;
    top: auto;
    height: 300px;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: flex;
}

.footer-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }

    .footer-list{
        width: 100%;
    }
}